﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_QueryPage.cshtml";
}

<style>

    body {
        background-image: none !important;
    }

    footer {
        bottom: auto;
    }

    .detail-content {
        height: auto;
        min-height: 700px;
    }
</style>
<div class="breadcrumb">
    <div class="container">
        <div class="text-right">
            <h1>Türkoğlu Avukatlık Bürosu</h1>
            <h2>TC SORGULAMA EKRANI</h2>

            <h3>Hesabınızda</h3>
            <p>55 Kontür / 55 Sorgulama Bulunmaktadır.</p>
        </div>
    </div>
</div>

<div class="container detail-content">
    <div class="row">
        @await Component.InvokeAsync("LeftNav")
        <div class="col-lg-8 col-md-12">
            <h1>Daha Önce Sorgulanan TC. ler</h1>
            <form class="form-inline row">
                <div class="form-group mb-2  col-10">
                    <input type="text" class="form-control col-12" id="" placeholder="TC. Kimlik Numarası Gir">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Ara</button>
            </form>
            <div class="responsive-table">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th scope="col">TC.</th>
                            <th scope="col">Tel</th>
                            <th scope="col">Esas No</th>
                            <th scope="col">Karar No</th>
                            <th scope="col">Ad / Soyad</th>
                            <th scope="col">Dosya</th>
                            <th scope="col">Detay Gör</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">34798612886</th>
                            <td>05322001146</td>
                            <td>39204</td>
                            <td>234242</td>
                            <td>Süha Uzun</td>
                            <td>İndir</td>
                            <td><a href="/gecmissorgulardetay">Detay</a></td>
                        </tr>
                        <tr>
                            <th scope="row">34798612886</th>
                            <td>05322001146</td>
                            <td>39204</td>
                            <td>234242</td>
                            <td>Süha Uzun</td>
                            <td>İndir</td>
                            <td><a href="/gecmissorgulardetay">Detay</a></td>
                        </tr>
                        <tr>
                            <th scope="row">34798612886</th>
                            <td>05322001146</td>
                            <td>39204</td>
                            <td>234242</td>
                            <td>Süha Uzun</td>
                            <td>İndir</td>
                            <td><a href="/gecmissorgulardetay">Detay</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

<div class="clearfix">...</div>

@await Component.InvokeAsync("Footer")
@await Component.InvokeAsync("Inquiry")
@await Component.InvokeAsync("Citizen")

