﻿<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">REDDİ MİRAS SORGULAMA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="account-btn">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#sorgulamagiris">Sorgulama Giriş / Kayit</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#citizengiris">Vatandaş Girişi</button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarText">

            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a class="nav-link" href="/reddimirasnedir">Reddi Miras Nedir <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/siteninamaci">Sitenin Amacı</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sss">S.S.S.</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#sorgulamaprofili">Sorgulama Akt. Maili Sonrası</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#vatandasprofili">Vatandaş Akt. Mail Sonrası</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- SABİT ALAN -->
</header>
