﻿
@{
    ViewData["Title"] = "CitizenProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    body {
        background-image: none !important;
    }

    footer {
        bottom: auto;
    }

    .detail-content {
        height: auto;
        min-height: 700px;
    }
</style>
<div class="breadcrumb">
    <div class="container">

    </div>
</div>

<div class="container detail-content">



    <h1>Eklenen Bilgiler</h1>


    <table class="table table-striped ">
        <thead>
            <tr>
                <th scope="col">TC.</th>
                <th scope="col">Tel</th>
                <th scope="col">Esas No</th>
                <th scope="col">Karar No</th>
                <th scope="col">Ad / Soyad</th>
                <th scope="col">Yakınlık Derecesi</th>
                <th scope="col">Dosya</th>
                <th scope="col">Güncelle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">34798612886</th>
                <td>05322001146</td>
                <td>39204</td>
                <td>234242</td>
                <td>Süha Uzun</td>
                <td>Oğlu</td>
                <td>İndir</td>
                <td><a href="" data-toggle="modal" data-target="#citizenupdate" data-dismiss="modal">Güncelle</a></td>
            </tr>
            <tr>
                <th scope="row">34798612886</th>
                <td>05322001146</td>
                <td>39204</td>
                <td>234242</td>
                <td>Süha Uzun</td>
                <td>Oğlu</td>
                <td>İndir</td>
                <td><a href="" data-toggle="modal" data-target="#citizenupdate" data-dismiss="modal">Güncelle</a></td>
            </tr>
            <tr>
                <th scope="row">34798612886</th>
                <td>05322001146</td>
                <td>39204</td>
                <td>234242</td>
                <td>Süha Uzun</td>
                <td>Oğlu</td>
                <td>İndir</td>
                <td><a href="" data-toggle="modal" data-target="#citizenupdate" data-dismiss="modal">Güncelle</a></td>
            </tr>
        </tbody>
    </table>



</div>

<div class="clearfix">...</div>

