﻿
@{
    ViewData["Title"] = "Kvkk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-md-6 align-self-center offset-md-3 content">
        <h1>KVKK Metni</h1>
        <div class="content-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis cursus mauris, a vulputate nunc blandit varius. Vestibulum euismod sapien ac enim commodo, sed semper dui molestie. Aliquam non vulputate sapien. Donec vitae nulla dapibus sem luctus facilisis vel at quam. Vestibulum dignissim libero et eros rutrum consectetur. Nullam dui mauris, lobortis quis ipsum quis, mattis facilisis ligula. Mauris tincidunt nunc mollis, pulvinar ligula ac, sodales arcu. Nam ut fermentum ante. Proin condimentum lectus ex, pulvinar suscipit magna egestas quis. In accumsan lectus at eros rutrum iaculis. Suspendisse accumsan, lorem non auctor scelerisque, enim dolor facilisis nisi, a faucibus ligula lacus quis neque. In laoreet lorem magna, ullamcorper ornare erat viverra interdum. Etiam in odio nisi.</p>
            <p>Donec elementum libero in volutpat dapibus. Quisque vel quam nec orci sodales tincidunt sit amet sed sapien. Etiam sagittis dictum pretium. Integer eget convallis nibh. Quisque at blandit nunc. Sed tellus neque, aliquet non libero in, pharetra dignissim neque. Sed eu ante odio. Fusce tincidunt risus eros, laoreet consequat metus pulvinar eget. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque convallis nibh eu faucibus maximus. In nec magna id risus semper dictum vitae vitae nunc. In vehicula leo ac ligula feugiat porta. Nunc tempor nec velit sit amet rhoncus.</p>
            <p>Aenean euismod porta tortor sed luctus. Integer ut mollis magna, a convallis nibh. Integer semper mauris et justo rutrum, in sodales erat efficitur. Donec libero nibh, consequat at porta eu, hendrerit nec enim. Aenean sit amet sollicitudin urna. Morbi eu malesuada dolor, at semper metus. Nullam lacus arcu, cursus at lobortis eu, facilisis at arcu.</p>
        </div>
    </div>

