﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_QueryPage.cshtml";
}

<style>

    body {
        background-image: none !important;
    }

    footer {
        bottom: auto;
    }

    .detail-content {
        height: auto;
        min-height: 700px;
    }
</style>
<div class="breadcrumb">
    <div class="container">
        <div class="text-right">
            <h1>Türkoğlu Avukatlık Bürosu</h1>
            <h2>TC SORGULAMA EKRANI</h2>

            <h3>Hesabınızda</h3>
            <p>55 Kontür / 55 Sorgulama Bulunmaktadır.</p>
        </div>
    </div>
</div>

<div class="container detail-content">
    <div class="row">
        @await Component.InvokeAsync("LeftNav")
        <div class="col-lg-8 col-md-12">
            <h1>Kontür Yükle</h1>
            <form>
                <div class="form-group">
                    <label for="formControlRange"></label>
                    <input type="range" class="form-control-range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>

            </form>
            <!-- credit card info-->
            <div class="row">

                <div class="col-lg-6 col-md-12">
                    <div class="card ">
                        <div class="card-body">
                            <p><strong>Sipariş Özetiniz</strong></p>
                            <hr>
                            <div class="alert alert-primary" role="alert">
                                <span id="demo2"></span> Kontür : <span id="demo3"></span> Sorgu demektir
                            </div>
                            <p>KDV Tutarı (%18)</p>
                            <p> Ödenecek Tutar </p>
                            <hr>
                            <h2><span id="demo"></span> TL</h2>



                        </div>
                    </div>

                </div>

                <div id="nav-tab-card" class="col-lg-6 col-md-12">
                    <p class="alert alert-danger">Bir Sorun Oluştu</p>
                    <form role="form">
                        <div class="form-group">
                            <label for="username">Kart Üzerindeki Ad Soyad</label>
                            <input type="text" name="username" placeholder="Jason Doe" required class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="cardNumber">Kart Numaranız</label>
                            <div class="input-group">
                                <input type="text" name="cardNumber" placeholder="Your card number" class="form-control" required>
                                <div class="input-group-append">
                                    <span class="input-group-text text-muted">
                                        <i class="fa fa-cc-visa mx-1"></i>
                                        <i class="fa fa-cc-amex mx-1"></i>
                                        <i class="fa fa-cc-mastercard mx-1"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label><span class="hidden-xs">Son Kullanım Tarihi</span></label>
                                    <div class="input-group">
                                        <input type="number" placeholder="MM" name="" class="form-control" required>
                                        <input type="number" placeholder="YY" name="" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group mb-4">
                                    <label data-toggle="tooltip" title="Kartınızın arkasında yer alan 3 haneli numarayı giriniz.">
                                        CVV
                                        <i class="fa fa-question-circle"></i>
                                    </label>
                                    <input type="text" required class="form-control">
                                </div>
                            </div>



                        </div>

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">3D Secure İle Ödeme <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Güvenliğiniz için sms ile doğrulama gerekmektedir."></i></label>
                        </div>
                        <button type="button" class="subscribe btn btn-primary btn-block" data-toggle="modal" data-target="#basariliislem"> Satın Al  </button>
                    </form>
                </div>
            </div>
            <!--Credit End-->





        </div>
    </div>
</div>

<div class="clearfix">...</div>


<!-- Başarılı İşlem Modalı -->
<div class="modal fade paymentmethod" id="basariliislem" tabindex="-1" role="dialog" aria-labelledby="basariliislemLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="basariliislemLabel">İşleminiz Başarıyla Gerçekleştirilmiştir.</h5>

            </div>
            <div class="modal-body text-center">
                <i class="fa fa-check-circle succses-circle"></i>
                <!-- <i class="fa fa-check-circle danger-circle"></i> -->
            </div>

        </div>
    </div>
</div>
<!-- Başarılı İşlem Modalı End -->


<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    var output2 = document.getElementById("demo2");
    var output3 = document.getElementById("demo3");
    output.innerHTML = slider.value;
    output2.innerHTML = slider.value;
    output3.innerHTML = slider.value;

    //output3.innerHTML = (slider.value)/2;

    slider.oninput = function () {
        output.innerHTML = this.value;
        output2.innerHTML = this.value;
        output3.innerHTML = this.value;
        //  output3.innerHTML = ((this.value)/2).toFixed();
    };</script>

@await Component.InvokeAsync("Footer")
@await Component.InvokeAsync("Inquiry")
@await Component.InvokeAsync("Citizen")
