﻿<!-- Sorgulama Kayıt Modalı -->
<div class="modal fade" id="sorgulamakayit" tabindex="-1" role="dialog" aria-labelledby="sorgulamakayitLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="sorgulamakayitLabel">Sorgulama Kayıt</h5>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">

                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mail Adresiniz">

                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifreniz">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1"><a href="" data-toggle="modal" data-target="#sozlesme" data-dismiss="modal">Kullanıcı Sözleşmesi</a></label>
                    </div>
                    <button type="submit" class="btn btn-success " data-toggle="modal" data-target="#aktivasyon" data-dismiss="modal">Kayıt Ol</button>

                    <p>Daha önce kayıt olduysanız lütfen <a href="" data-toggle="modal" data-target="#sorgulamagiris" data-dismiss="modal"><strong>Giriş Yapınız.</strong></a> </p>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Sorgulama Kayıt Modalı End -->
<!-- Sorgulama Girişi Modalı -->
<div class="modal fade" id="sorgulamagiris" tabindex="1" role="dialog" aria-labelledby="sorgulamagirisLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="sorgulamagirisLabel">Sorgulama Girişi</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>-->
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">

                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mail Adresiniz">

                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifreniz">
                    </div>
                    <div class="form-group ">

                        <label class=""><a href="" data-toggle="modal" data-target="#forgetpass" data-dismiss="modal">Şifremi Unuttum</a></label>
                    </div>

                    <button type="submit" class="btn btn-danger">Giriş Yap</button>
                    <div class="button-ayrac">&</div>
                    <button type="submit" class="btn btn-success " data-toggle="modal" data-target="#sorgulamakayit" data-dismiss="modal">Kayıt Ol</button>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Sorgulama Girişi Modalı End -->
<!-- Şifremi Unuttum Modalı -->
<div class="modal fade" id="forgetpass" tabindex="1" role="dialog" aria-labelledby="forgetpassLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="forgetpassLabel">Şifremi Unuttum</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>-->
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mail Adresiniz">
                    </div>
                    <button type="submit" class="btn btn-success">Gönder</button>
                    Şifreni Hatırlıyorsan <a href="" data-toggle="modal" data-target="#sorgulamagiris" data-dismiss="modal">Giriş Yap</a>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Şifremi Unuttum Modalı End -->
<!-- Kullanıcı Sözleşmesi Modalı -->
<div class="modal fade bd-example-modal-lg" id="sozlesme" tabindex="1" role="dialog" aria-labelledby="sozlesmeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="sozlesmeLabel">Kullanıcı Sözleşmesi</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum luctus velit, ac fermentum sem semper eu. Mauris quis volutpat justo, eu vehicula lectus. Sed posuere nulla ex, id accumsan enim bibendum quis. Nullam vitae pulvinar urna. Nulla mattis tortor at risus pulvinar, quis aliquam mi semper. In purus urna, sodales sit amet urna et, laoreet facilisis felis. Vestibulum ipsum est, lobortis vitae mollis eget, imperdiet egestas justo. Aenean tincidunt leo nec leo fringilla, non finibus arcu pretium. Praesent molestie leo et varius viverra.
                        <br>
                        Curabitur eget luctus eros. Morbi posuere ultrices lorem. Duis eu nisl nulla. Praesent blandit elit non lectus convallis, ac condimentum arcu rutrum. Mauris vel dolor eu massa suscipit ullamcorper vel molestie augue. Nunc pulvinar faucibus lectus, efficitur facilisis ante dignissim vel. Sed feugiat gravida arcu id pharetra. Duis ut orci nulla. Proin facilisis, justo nec accumsan vestibulum, magna magna fermentum libero, ac venenatis tortor nulla eu turpis. Cras a pharetra arcu, sit amet fermentum libero. Cras pretium, quam ac lacinia laoreet, magna tellus iaculis est, vel porta nisi diam vel mauris. Sed cursus aliquam urna eu malesuada. Integer luctus massa in venenatis dapibus.
                        <br>
                        Curabitur eget luctus eros. Morbi posuere ultrices lorem. Duis eu nisl nulla. Praesent blandit elit non lectus convallis, ac condimentum arcu rutrum. Mauris vel dolor eu massa suscipit ullamcorper vel molestie augue. Nunc pulvinar faucibus lectus, efficitur facilisis ante dignissim vel. Sed feugiat gravida arcu id pharetra. Duis ut orci nulla. Proin facilisis, justo nec accumsan vestibulum, magna magna fermentum libero, ac venenatis tortor nulla eu turpis. Cras a pharetra arcu, sit amet fermentum libero. Cras pretium, quam ac lacinia laoreet, magna tellus iaculis est, vel porta nisi diam vel mauris. Sed cursus aliquam urna eu malesuada. Integer luctus massa in venenatis dapibus.
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#sorgulamakayit" data-dismiss="modal">Kapat</button>
            </div>

        </div>
    </div>
</div>
<!-- Kullanıcı Sözleşmesi End -->
<!-- Sorgulama Aktivasyon Modalı -->
<div class="modal fade bd-example-modal-lg" id="aktivasyon" tabindex="1" role="dialog" aria-labelledby="aktivasyonLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="aktivasyonLabel">Sorgulama Aktivasyonu</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group text-center">
                        Belirttiğiniz mail hesabınıza onay maili gönderilmişitir.

                        Mailinizi onaylayarak işlem yapmaya başlayabilirsiniz.
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
<!-- Sorgulama Aktivasyon End -->
<!-- Sorgulama Profili Modalı -->
<div class="modal fade" id="sorgulamaprofili" tabindex="-1" role="dialog" aria-labelledby="sorgulamaprofiliLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="sorgulamaprofiliLabel">Sorgulama Profili</h5>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="corporatename" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Şirket Adı">
                    </div>
                    <div class="form-group">
                        <input type="invoicename" class="form-control" id="exampleInputPassword1" placeholder="Fatura Adresi">
                    </div>
                    <div class="form-group">
                        <input type="taxidnumber" class="form-control" id="exampleInputPassword1" placeholder="Vergi Kimlik Numarası">
                    </div>
                    <div class="form-group">
                        <input type="taxname" class="form-control" id="exampleInputPassword1" placeholder="Vergi Dairesi">
                    </div>
                    <div class="form-group">
                        <input type="phonenumber" class="form-control" id="exampleInputPassword1" placeholder="Telefon Numarası">
                    </div>
                    <div class="form-group">
                        <input type="mobilenumber" class="form-control" id="exampleInputPassword1" placeholder="Cep Numarası">
                    </div>
                    <button type="submit" class="btn btn-success" data-dismiss="modal">Kaydet</button>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Sorgulama Profili Modalı End -->
<!-- Konturu Yok Modalı -->
<div class="modal fade " id="konturzero" tabindex="1" role="dialog" aria-labelledby="konturzeroLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="konturzeroLabel">Sorgulama İşlem Sorunu</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group text-center">
                        Belirtilen TC. Adresinin sorgulanabilmesi için kontürünüz bulunmamaktadır, lütfen önce kontür yükleyiniz.
                        <div class="konturzero-modal"><a href="/konturyukle" class="btn btn-success">Kontür Yükle</a></div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
<!-- Konturu Yok End -->