﻿<!-- Vatandaş Giriş Modalı -->
<div class="modal fade" id="citizengiris" tabindex="-1" role="dialog" aria-labelledby="citizengirisLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="citizengirisLabel">Vatandaş Girişi</h5>

            </div>
            <div class="modal-body text-center">
                <p>Evrak Yükleme ve Güncelleme Sayfasına<br>Hoş Geldiniz.</p>

                <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#evrakyukle" data-dismiss="modal">Evrak Yükle</button>
                <button type="submit" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#citizenguncelle">Evrak Güncelle</button>
            </div>

        </div>
    </div>
</div>
<!-- Vatandaş Giriş Modalı End -->
<!-- Sorgulama Kayıt Modalı -->
<div class="modal fade" id="evrakyukle" tabindex="-1" role="dialog" aria-labelledby="evrakyukleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="evrakyukleLabel">Vatandaş Evrak Yükleme Girişi</h5>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">

                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mail Adresiniz">

                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1"><a href="" data-toggle="modal" data-target="#sozlesmevatandas" data-dismiss="modal">Kullanıcı Sözleşmesi</a></label>
                    </div>
                    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#vatandasaktivasyon" data-dismiss="modal">Gönder</button>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Sorgulama Kayıt Modalı End -->
<!-- Kullanıcı Sözleşmesi Modalı -->
<div class="modal fade bd-example-modal-lg" id="sozlesmevatandas" tabindex="1" role="dialog" aria-labelledby="sozlesmevatandasLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="sozlesmevatandasLabel">Kullanıcı Sözleşmesi</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum luctus velit, ac fermentum sem semper eu. Mauris quis volutpat justo, eu vehicula lectus. Sed posuere nulla ex, id accumsan enim bibendum quis. Nullam vitae pulvinar urna. Nulla mattis tortor at risus pulvinar, quis aliquam mi semper. In purus urna, sodales sit amet urna et, laoreet facilisis felis. Vestibulum ipsum est, lobortis vitae mollis eget, imperdiet egestas justo. Aenean tincidunt leo nec leo fringilla, non finibus arcu pretium. Praesent molestie leo et varius viverra.
                        <br>
                        Curabitur eget luctus eros. Morbi posuere ultrices lorem. Duis eu nisl nulla. Praesent blandit elit non lectus convallis, ac condimentum arcu rutrum. Mauris vel dolor eu massa suscipit ullamcorper vel molestie augue. Nunc pulvinar faucibus lectus, efficitur facilisis ante dignissim vel. Sed feugiat gravida arcu id pharetra. Duis ut orci nulla. Proin facilisis, justo nec accumsan vestibulum, magna magna fermentum libero, ac venenatis tortor nulla eu turpis. Cras a pharetra arcu, sit amet fermentum libero. Cras pretium, quam ac lacinia laoreet, magna tellus iaculis est, vel porta nisi diam vel mauris. Sed cursus aliquam urna eu malesuada. Integer luctus massa in venenatis dapibus.
                        <br>
                        Curabitur eget luctus eros. Morbi posuere ultrices lorem. Duis eu nisl nulla. Praesent blandit elit non lectus convallis, ac condimentum arcu rutrum. Mauris vel dolor eu massa suscipit ullamcorper vel molestie augue. Nunc pulvinar faucibus lectus, efficitur facilisis ante dignissim vel. Sed feugiat gravida arcu id pharetra. Duis ut orci nulla. Proin facilisis, justo nec accumsan vestibulum, magna magna fermentum libero, ac venenatis tortor nulla eu turpis. Cras a pharetra arcu, sit amet fermentum libero. Cras pretium, quam ac lacinia laoreet, magna tellus iaculis est, vel porta nisi diam vel mauris. Sed cursus aliquam urna eu malesuada. Integer luctus massa in venenatis dapibus.
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#evrakyukle" data-dismiss="modal">Kapat</button>
            </div>

        </div>
    </div>
</div>
<!-- Kullanıcı Sözleşmesi End -->
<!-- Vatandaş Aktivasyon Modalı -->
<div class="modal fade bd-example-modal-lg" id="vatandasaktivasyon" tabindex="1" role="dialog" aria-labelledby="vatandasaktivasyonLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="vatandasaktivasyonLabel">Vatandaş Aktivasyonu</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group text-center">
                        Belirttiğiniz mail hesabınıza onay maili gönderilmişitir. Mailinizi onaylayarak işlem yapmaya başlayabilirsiniz.
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
<!-- Vatandaş Aktivasyon Modalı End -->
<!-- "Varis Bilgisi" Girişini Yapan Kişi Bilgileri Modalı -->
<div class="modal fade" id="vatandasprofili" tabindex="-1" role="dialog" aria-labelledby="vatandasprofiliLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="vatandasprofiliLabel">"Varis Bilgisi" Girişini Yapan Kişi Bilgileri </h5>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="citizenname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ad">
                    </div>
                    <div class="form-group">
                        <input type="citizensurname" class="form-control" id="exampleInputPassword1" placeholder="Soyad">
                    </div>
                    <div class="form-group">
                        <input type="citizennumber" class="form-control" id="exampleInputPassword1" placeholder="TC">
                    </div>
                    <div class="form-group">
                        <input type="birthday" class="form-control" id="exampleInputPassword1" placeholder="Doğum Tarihi">
                    </div>
                    <div class="form-group">
                        <input type="mobilenumber" class="form-control" id="exampleInputPassword1" placeholder="Cep Numarası">
                    </div>
                    <div class="form-group">
                        <label class="footnote">* Avukatınızdan gelen kodu giriniz.</label>
                        <input type="promocode" class="form-control" id="exampleInputPassword1" placeholder="Promo Kod">
                    </div>

                    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#varisgirisi" data-dismiss="modal">İlerle</button>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- "Varis Bilgisi" Girişini Yapan Kişi Bilgileri End -->
<!-- Vefat Eden Kişi Bilgileri Modalı -->
<div class="modal fade" id="varisgirisi" tabindex="-1" role="dialog" aria-labelledby="varisgirisiLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="varisgirisiLabel">Vefat Eden Kişi Bilgileri 2</h5>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="other_citizenname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Vefat Eden Kişinin Adı">
                    </div>
                    <div class="form-group">
                        <input type="other_citizensurname" class="form-control" id="exampleInputPassword1" placeholder="Vefat Eden Kişinin Soyadı">
                    </div>
                    <div class="form-group">
                        <input type="other_citizennumber" class="form-control" id="exampleInputPassword1" placeholder="Vefat Eden Kişinin TC">
                    </div>
                    <div class="form-group">
                        <input type="other_birthday" class="form-control" id="exampleInputPassword1" placeholder="Vefat Eden Kişinin Doğum Tarihi">
                    </div>
                    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#varisbilgisi" data-dismiss="modal">Kaydet</button>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Vefat Eden Kişi Bilgileri End -->
<!-- Varis Bilgisi Girişi Modalı -->
<div class="modal fade" id="varisbilgisi" tabindex="-1" role="dialog" aria-labelledby="varisbilgisiLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="varisbilgisiLabel">Varis Bilgisi Girişi 3</h5>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Kendi Adıma Kayıt İse İşaretle</label>
                    </div>
                    <hr>




                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Başkası adına giriş yap
                    </button>

                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <div class="form-group">
                                <input type="degree" class="form-control" id="exampleInputPassword1" placeholder="Size Olan Yakınlık Derecesi">
                            </div>
                            <div class="form-group">
                                <input type="other_one_citizenname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adı">
                            </div>
                            <div class="form-group">
                                <input type="other_one_citizensurname" class="form-control" id="exampleInputPassword1" placeholder="Soyadı">
                            </div>
                            <div class="form-group">
                                <input type="other_one_citizennumber" class="form-control" id="exampleInputPassword1" placeholder=" TC">
                            </div>
                            <div class="form-group">
                                <input type="other_one_birthday" class="form-control" id="exampleInputPassword1" placeholder="Doğum Tarihi">
                            </div>


                        </div>
                    </div>







                    <hr>



                    <div class="form-group">
                        <input type="base_number" class="form-control" id="exampleInputPassword1" placeholder="Esas No">
                    </div>
                    <div class="form-group">
                        <input type="decision_number" class="form-control" id="exampleInputPassword1" placeholder="Karar No">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Reddi Miras Evrağı Yükle</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        <label class="footnote">Yüklenen evrak okunaklı olmalıdır.</label>
                    </div>
                    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#citizensuccess" data-dismiss="modal">Kaydet</button>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Varis Bilgisi Girişi Modalı End -->
<!-- Vatandaş Başarılı İşlem Modalı -->
<div class="modal fade" id="citizensuccess" tabindex="-1" role="dialog" aria-labelledby="citizensuccessLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="citizensuccessLabel">Vatandaş Girişi</h5>

            </div>
            <div class="modal-body text-center">
                <p>Kaydınız alınmıştır, ailenize veya çevrenize ait yeni bir evrak yükleme istiyorsanız yeni kayıt kısmına tıklayınız.</p>
                <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#newcitizen" data-dismiss="modal">Yeni Kayıt</button>
                <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#citizenguncelle" data-dismiss="modal">Evrak Güncelle</button>
            </div>

        </div>
    </div>
</div>
<!-- Vatandaş Başarılı İşlem Modalı End -->
<!-- Evrak Güncelleme Modalı -->
<div class="modal fade" id="citizenguncelle" tabindex="1" role="dialog" aria-labelledby="citizenguncelleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="citizenguncelleLabel">Vatandaş Evrak Güncelleme Girişi</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>-->
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mail Adresiniz">
                    </div>
                    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#citizenguncelleakt" data-dismiss="modal">Gönder</button>

                </form>
            </div>

        </div>
    </div>
</div>
<!-- Evrak Güncelleme Modalı End -->
<!-- Evrak Güncelleme Aktivasyon Modalı -->
<div class="modal fade" id="citizenguncelleakt" tabindex="-1" role="dialog" aria-labelledby="citizenguncelleaktLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="citizenguncelleaktLabel">Vatandaş Evrak Güncelleme Aktivasyonu</h5>

            </div>
            <div class="modal-body text-center">
                <p>
                    Belirttiğiniz mail hesabınıza güncelleme linki gönderilmiştir.
                    Mailinize girip linki tıklayabilirsiniz.
                </p>
            </div>

        </div>
    </div>
</div>
<!-- Evrak Güncelleme Aktivasyon Modalı End -->
<!-- Diğer Varislerin Kaydı Modalı -->
<div class="modal fade" id="newcitizen" tabindex="-1" role="dialog" aria-labelledby="newcitizenLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="newcitizenLabel">Diğer Varislerin Kaydı</h5>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="other_citizenname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adı">
                    </div>
                    <div class="form-group">
                        <input type="other_citizensurname" class="form-control" id="exampleInputPassword1" placeholder="Soyadı">
                    </div>
                    <div class="form-group">
                        <input type="other_citizennumber" class="form-control" id="exampleInputPassword1" placeholder="TC">
                    </div>
                    <div class="form-group">
                        <input type="other_birthday" class="form-control" id="exampleInputPassword1" placeholder="Doğum Tarihi">
                    </div>
                    <div class="form-group">
                        <input type="degree" class="form-control" id="exampleInputPassword1" placeholder="Yakınlık Derecesi">
                    </div>
                    <div class="form-group">
                        <input type="base_number" class="form-control" id="exampleInputPassword1" placeholder="Esas No">
                    </div>
                    <div class="form-group">
                        <input type="decision_number" class="form-control" id="exampleInputPassword1" placeholder="Karar No">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Reddi Miras Evrağı Yükle</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        <label class="footnote">Yüklenen evrak okunaklı olmalıdır.</label>
                    </div>
                    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#citizensuccess" data-dismiss="modal">Kaydet</button>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Diğer Varislerin Kaydı End -->
<!-- Varis Güncelleme Modalı -->
<div class="modal fade" id="citizenupdate" tabindex="-1" role="dialog" aria-labelledby="citizenupdateLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="citizenupdateLabel">Güncelleme İşlemi</h5>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="other_citizenname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adı">
                    </div>
                    <div class="form-group">
                        <input type="other_citizensurname" class="form-control" id="exampleInputPassword1" placeholder="Soyadı">
                    </div>
                    <div class="form-group">
                        <input type="other_citizennumber" class="form-control" id="exampleInputPassword1" placeholder="TC">
                    </div>
                    <div class="form-group">
                        <input type="other_birthday" class="form-control" id="exampleInputPassword1" placeholder="Doğum Tarihi">
                    </div>
                    <div class="form-group">
                        <input type="degree" class="form-control" id="exampleInputPassword1" placeholder="Yakınlık Derecesi">
                    </div>
                    <div class="form-group">
                        <input type="base_number" class="form-control" id="exampleInputPassword1" placeholder="Esas No">
                    </div>
                    <div class="form-group">
                        <input type="decision_number" class="form-control" id="exampleInputPassword1" placeholder="Karar No">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Reddi Miras Evrağı Yükle</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        <label class="footnote">Yüklenen evrak okunaklı olmalıdır.</label>
                    </div>
                    <button type="submit" class="btn btn-success" data-dismiss="modal">Güncelle</button>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Varis Güncelleme End -->
