﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_QueryPage.cshtml";
}

<style>

    body {
        background-image: none !important;
    }

    footer {
        bottom: auto;
    }

    .detail-content {
        height: auto;
        min-height: 700px;
    }
</style>
<div class="breadcrumb">
    <div class="container">
        <div class="text-right">
            <h1>Türkoğlu Avukatlık Bürosu</h1>
            <h2>TC SORGULAMA EKRANI</h2>

            <h3>Hesabınızda</h3>
            <p>55 Kontür / 55 Sorgulama Bulunmaktadır.</p>
        </div>
    </div>
</div>

<div class="container detail-content">
    <div class="row">
        @await Component.InvokeAsync("LeftNav")
        <div class="col-lg-8 col-md-12">
            <h1>Hesabım</h1>

            <form>
                <div class="form-group">
                    <label>Şirket Adı</label>
                    <input type="corporatename" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Gürgen Hukuk Bürosu">
                </div>
                <div class="form-group">
                    <label>Fatura Adresi</label>
                    <input type="invoicename" class="form-control" id="exampleInputPassword1" placeholder="Cevherli Mahallesi, altıpınar sokak, no 16, kat2 daire 3 - Bahçelievler / İstanbul">
                </div>
                <div class="form-group">
                    <label>Vergi Kimlik Numarası</label>
                    <input type="taxidnumber" class="form-control" id="exampleInputPassword1" placeholder="23054350660">
                </div>
                <div class="form-group">
                    <label>Vergi Dairesi</label>
                    <input type="taxname" class="form-control" id="exampleInputPassword1" placeholder="Kocasinan V.D.">
                </div>
                <div class="form-group">
                    <label>Telefon Numarası</label>
                    <input type="phonenumber" class="form-control" id="exampleInputPassword1" placeholder="0 212 200 22 22">
                </div>
                <div class="form-group">
                    <label>Cep Numarası</label>
                    <input type="mobilenumber" class="form-control" id="exampleInputPassword1" placeholder="0 532 200 22 22">
                </div>
                <button type="submit" class="btn btn-success" data-dismiss="modal">Güncelle</button>
            </form>

        </div>
    </div>
</div>

<div class="clearfix">...</div>

@await Component.InvokeAsync("Footer")
@await Component.InvokeAsync("Inquiry")
@await Component.InvokeAsync("Citizen")

