﻿<div class="col-lg-4 col-md-12">
    <ul class="list-group">
        <h3 class="">Kategoriler</h3>
        <li class="list-group-item active"><a href="/Query/Index">TC. Sorgulama</a></li>
        <li class="list-group-item"><a href="/AllQuery/Index">Toplu TC. Sorgulama</a></li>
        <li class="list-group-item"><a href="/PastQueries/Index">Daha Önce Sorgulanan TC.</a></li>
        <li class="list-group-item"><a href="/CreditLoad/Index">Kontür Yükle</a></li>
        <p>
            <strong>Developer Notu : </strong><br>Burada 3 farklı tip table yapısı mevcut ; <br>
            1. Sorgulanan tc de bir kişi bulunması, <br>
            2. si sorgulanan tc ye ait başka reddi miras dosyalarının eklenmiş olması, <br>
            3. aranan tc ye ait döküman bulunamaması.<br>
            <strong> Kullanıcı Notu ;</strong><br>
            1- Burada varis ekleyen kişiye ait eklenen diğer tc ler sorgulanan tcler ile ilişkili olmayabilir,
            çünkü varis için eklenen tc ile diğer eklenen tclerin arasında bir akrabalık ilişkisinin
            olup olmadığını anlayacak mekanizma yoktur.
        </p>
    </ul>
</div>
