﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_QueryPage.cshtml";
}

<style>

    body {
        background-image: none !important;
    }

    footer {
        bottom: auto;
    }

    .detail-content {
        height: auto;
        min-height: 700px;
    }
</style>
<div class="breadcrumb">
    <div class="container">
        <div class="text-right">
            <h1>Türkoğlu Avukatlık Bürosu</h1>
            <h2>TC SORGULAMA EKRANI</h2>

            <h3>Hesabınızda</h3>
            <p>55 Kontür / 55 Sorgulama Bulunmaktadır.</p>
        </div>
    </div>
</div>

<div class="container detail-content">
    <div class="row">
        @await Component.InvokeAsync("LeftNav")
        <div class="col-lg-8 col-md-12">
            <h1>Sorgulanan TC. Detay Ekranı</h1>

            <div class="responsive-table">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">TC.</th>
                            <th scope="col">Doğum T.</th>
                            <th scope="col">Tel</th>
                            <th scope="col">Esas No</th>
                            <th scope="col">Karar No</th>
                            <th scope="col">Ad / Soyad</th>
                            <th scope="col">Dosya</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">34798612886</th>
                            <td>21/11/1987</td>
                            <td>05322001146</td>
                            <td>39204</td>
                            <td>234242</td>
                            <td>Süha Uzun</td>
                            <td>İndir</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingZero">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                                Varis Bilgileri
                            </button>
                        </h2>
                    </div>

                    <div id="collapseZero" class="collapse show" aria-labelledby="headingZero" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>Adı : </p>
                            <p>Soyadı : </p>
                            <p>TC : </p>
                            <p>Doğum Tarihi : </p>
                            <p>Mail Adresi : </p>
                            <p>Cep No : </p>
                            <p>Yakınlık Derecesi : </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Vefat Eden Kişinin Bilgileri
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>Adı : </p>
                            <p>Soyadı : </p>
                            <p>TC : </p>
                            <p>Doğum Tarihi : </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Dosyayı Ekleyen Kişinin Bilgileri
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>Adı : </p>
                            <p>Soyadı : </p>
                            <p>TC : </p>
                            <p>Doğum Tarihi : </p>
                            <p>Mail Adresi : </p>
                            <p>Cep No : </p>
                            <p>Eklenen dosya sayısı : 7</p>
                            <p>Yakınlık Derecesi : </p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

<div class="clearfix">...</div>

@await Component.InvokeAsync("Footer")
@await Component.InvokeAsync("Inquiry")
@await Component.InvokeAsync("Citizen")

