﻿
<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv=Content-Type content='text/html; charset=utf-8'>
    <title>Reddi Miras App</title>
    <meta name="DESCRIPTION" content="">
    <meta name="KEYWORDS" content="">
    <meta name="robots" content="index, follow">
    <meta name="AUTHOR" content="Reddi Miras App">
    <meta name="Copyright" content="Copyright (c) 2000-2015 Reddi Miras App">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <meta name="GOOGLEBOT" content="NOODP">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">REDDİ MİRAS SORGULAMA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="account-btn">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#sorgulamagiris">Sorgulama Giriş / Kayit</button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#citizengiris">Vatandaş Girişi</button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarText">

                <ul class="navbar-nav ">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/WhatisRejedtion">Reddi Miras Nedir <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/SiteGoal">Sitenin Amacı</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Sss">S.S.S.</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#sorgulamaprofili">Sorgulama Akt. Maili Sonrası</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#vatandasprofili">Vatandaş Akt. Mail Sonrası</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- SABİT ALAN -->
    </header>

    @RenderBody()

    <!-- Footer -->
    <footer class="page-footer pt-3">
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
            <!-- Grid row -->
            <div class="row d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8">
                    <!--Copyright-->
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="/Home/Kvkk" class="btn-floating btn-sm rgba-white-slight mx-1">
                                KVKK Sözleşmesi
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/Home/UserAgreement" class="btn-floating btn-sm rgba-white-slight mx-1">
                                Kullanıcı Sözleşmesi
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0">
                    <!-- Social buttons -->
                    <div class="text-center text-md-right codeandmore">
                        <a href="https://codeandmore.com.tr" target="_blank">Designer And Development<br>Code And More</a>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
    </footer>
    <!-- Footer -->
    <!-- Sorgulama Kayıt Modalı -->
    <div class="modal fade" id="sorgulamakayit" tabindex="-1" role="dialog" aria-labelledby="sorgulamakayitLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="sorgulamakayitLabel">Sorgulama Kayıt</h5>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">

                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mail Adresiniz">

                        </div>
                        <div class="form-group">

                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifreniz">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1"><a href="" data-toggle="modal" data-target="#sozlesme" data-dismiss="modal">Kullanıcı Sözleşmesi</a></label>
                        </div>
                        <button type="submit" class="btn btn-success " data-toggle="modal" data-target="#aktivasyon" data-dismiss="modal">Kayıt Ol</button>

                        <p>Daha önce kayıt olduysanız lütfen <a href="" data-toggle="modal" data-target="#sorgulamagiris" data-dismiss="modal"><strong>Giriş Yapınız.</strong></a> </p>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Sorgulama Kayıt Modalı End -->
    <!-- Sorgulama Girişi Modalı -->
    <div class="modal fade" id="sorgulamagiris" tabindex="1" role="dialog" aria-labelledby="sorgulamagirisLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="sorgulamagirisLabel">Sorgulama Girişi</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>-->
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">

                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mail Adresiniz">

                        </div>
                        <div class="form-group">

                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifreniz">
                        </div>
                        <div class="form-group ">

                            <label class=""><a href="" data-toggle="modal" data-target="#forgetpass" data-dismiss="modal">Şifremi Unuttum</a></label>
                        </div>

                        <button type="submit" class="btn btn-danger">Giriş Yap</button>
                        <div class="button-ayrac">&</div>
                        <button type="submit" class="btn btn-success " data-toggle="modal" data-target="#sorgulamakayit" data-dismiss="modal">Kayıt Ol</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Sorgulama Girişi Modalı End -->
    <!-- Şifremi Unuttum Modalı -->
    <div class="modal fade" id="forgetpass" tabindex="1" role="dialog" aria-labelledby="forgetpassLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="forgetpassLabel">Şifremi Unuttum</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>-->
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mail Adresiniz">
                        </div>
                        <button type="submit" class="btn btn-success">Gönder</button>
                        Şifreni Hatırlıyorsan <a href="" data-toggle="modal" data-target="#sorgulamagiris" data-dismiss="modal">Giriş Yap</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Şifremi Unuttum Modalı End -->
    <!-- Kullanıcı Sözleşmesi Modalı -->
    <div class="modal fade bd-example-modal-lg" id="sozlesme" tabindex="1" role="dialog" aria-labelledby="sozlesmeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="sozlesmeLabel">Kullanıcı Sözleşmesi</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum luctus velit, ac fermentum sem semper eu. Mauris quis volutpat justo, eu vehicula lectus. Sed posuere nulla ex, id accumsan enim bibendum quis. Nullam vitae pulvinar urna. Nulla mattis tortor at risus pulvinar, quis aliquam mi semper. In purus urna, sodales sit amet urna et, laoreet facilisis felis. Vestibulum ipsum est, lobortis vitae mollis eget, imperdiet egestas justo. Aenean tincidunt leo nec leo fringilla, non finibus arcu pretium. Praesent molestie leo et varius viverra.
                            <br>
                            Curabitur eget luctus eros. Morbi posuere ultrices lorem. Duis eu nisl nulla. Praesent blandit elit non lectus convallis, ac condimentum arcu rutrum. Mauris vel dolor eu massa suscipit ullamcorper vel molestie augue. Nunc pulvinar faucibus lectus, efficitur facilisis ante dignissim vel. Sed feugiat gravida arcu id pharetra. Duis ut orci nulla. Proin facilisis, justo nec accumsan vestibulum, magna magna fermentum libero, ac venenatis tortor nulla eu turpis. Cras a pharetra arcu, sit amet fermentum libero. Cras pretium, quam ac lacinia laoreet, magna tellus iaculis est, vel porta nisi diam vel mauris. Sed cursus aliquam urna eu malesuada. Integer luctus massa in venenatis dapibus.
                            <br>
                            Curabitur eget luctus eros. Morbi posuere ultrices lorem. Duis eu nisl nulla. Praesent blandit elit non lectus convallis, ac condimentum arcu rutrum. Mauris vel dolor eu massa suscipit ullamcorper vel molestie augue. Nunc pulvinar faucibus lectus, efficitur facilisis ante dignissim vel. Sed feugiat gravida arcu id pharetra. Duis ut orci nulla. Proin facilisis, justo nec accumsan vestibulum, magna magna fermentum libero, ac venenatis tortor nulla eu turpis. Cras a pharetra arcu, sit amet fermentum libero. Cras pretium, quam ac lacinia laoreet, magna tellus iaculis est, vel porta nisi diam vel mauris. Sed cursus aliquam urna eu malesuada. Integer luctus massa in venenatis dapibus.
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#sorgulamakayit" data-dismiss="modal">Kapat</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Kullanıcı Sözleşmesi End -->
    <!-- Sorgulama Aktivasyon Modalı -->
    <div class="modal fade bd-example-modal-lg" id="aktivasyon" tabindex="1" role="dialog" aria-labelledby="aktivasyonLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="aktivasyonLabel">Sorgulama Aktivasyonu</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group text-center">
                            Belirttiğiniz mail hesabınıza onay maili gönderilmişitir.

                            Mailinizi onaylayarak işlem yapmaya başlayabilirsiniz.
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <!-- Sorgulama Aktivasyon End -->
    <!-- Sorgulama Profili Modalı -->
    <div class="modal fade" id="sorgulamaprofili" tabindex="-1" role="dialog" aria-labelledby="sorgulamaprofiliLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="sorgulamaprofiliLabel">Sorgulama Profili</h5>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="corporatename" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Şirket Adı">
                        </div>
                        <div class="form-group">
                            <input type="invoicename" class="form-control" id="exampleInputPassword1" placeholder="Fatura Adresi">
                        </div>
                        <div class="form-group">
                            <input type="taxidnumber" class="form-control" id="exampleInputPassword1" placeholder="Vergi Kimlik Numarası">
                        </div>
                        <div class="form-group">
                            <input type="taxname" class="form-control" id="exampleInputPassword1" placeholder="Vergi Dairesi">
                        </div>
                        <div class="form-group">
                            <input type="phonenumber" class="form-control" id="exampleInputPassword1" placeholder="Telefon Numarası">
                        </div>
                        <div class="form-group">
                            <input type="mobilenumber" class="form-control" id="exampleInputPassword1" placeholder="Cep Numarası">
                        </div>
                        <button type="submit" class="btn btn-success" data-dismiss="modal">Kaydet</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Sorgulama Profili Modalı End -->
    <!-- Konturu Yok Modalı -->
    <div class="modal fade " id="konturzero" tabindex="1" role="dialog" aria-labelledby="konturzeroLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="konturzeroLabel">Sorgulama İşlem Sorunu</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group text-center">
                            Belirtilen TC. Adresinin sorgulanabilmesi için kontürünüz bulunmamaktadır, lütfen önce kontür yükleyiniz.
                            <div class="konturzero-modal"><a href="/konturyukle" class="btn btn-success">Kontür Yükle</a></div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <!-- Konturu Yok End --><!-- Vatandaş Giriş Modalı -->
    <div class="modal fade" id="citizengiris" tabindex="-1" role="dialog" aria-labelledby="citizengirisLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="citizengirisLabel">Vatandaş Girişi</h5>

                </div>
                <div class="modal-body text-center">
                    <p>Evrak Yükleme ve Güncelleme Sayfasına<br>Hoş Geldiniz.</p>

                    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#evrakyukle" data-dismiss="modal">Evrak Yükle</button>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#citizenguncelle">Evrak Güncelle</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Vatandaş Giriş Modalı End -->
    <!-- Sorgulama Kayıt Modalı -->
    <div class="modal fade" id="evrakyukle" tabindex="-1" role="dialog" aria-labelledby="evrakyukleLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="evrakyukleLabel">Vatandaş Evrak Yükleme Girişi</h5>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">

                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mail Adresiniz">

                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1"><a href="" data-toggle="modal" data-target="#sozlesmevatandas" data-dismiss="modal">Kullanıcı Sözleşmesi</a></label>
                        </div>
                        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#vatandasaktivasyon" data-dismiss="modal">Gönder</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Sorgulama Kayıt Modalı End -->
    <!-- Kullanıcı Sözleşmesi Modalı -->
    <div class="modal fade bd-example-modal-lg" id="sozlesmevatandas" tabindex="1" role="dialog" aria-labelledby="sozlesmevatandasLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="sozlesmevatandasLabel">Kullanıcı Sözleşmesi</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum luctus velit, ac fermentum sem semper eu. Mauris quis volutpat justo, eu vehicula lectus. Sed posuere nulla ex, id accumsan enim bibendum quis. Nullam vitae pulvinar urna. Nulla mattis tortor at risus pulvinar, quis aliquam mi semper. In purus urna, sodales sit amet urna et, laoreet facilisis felis. Vestibulum ipsum est, lobortis vitae mollis eget, imperdiet egestas justo. Aenean tincidunt leo nec leo fringilla, non finibus arcu pretium. Praesent molestie leo et varius viverra.
                            <br>
                            Curabitur eget luctus eros. Morbi posuere ultrices lorem. Duis eu nisl nulla. Praesent blandit elit non lectus convallis, ac condimentum arcu rutrum. Mauris vel dolor eu massa suscipit ullamcorper vel molestie augue. Nunc pulvinar faucibus lectus, efficitur facilisis ante dignissim vel. Sed feugiat gravida arcu id pharetra. Duis ut orci nulla. Proin facilisis, justo nec accumsan vestibulum, magna magna fermentum libero, ac venenatis tortor nulla eu turpis. Cras a pharetra arcu, sit amet fermentum libero. Cras pretium, quam ac lacinia laoreet, magna tellus iaculis est, vel porta nisi diam vel mauris. Sed cursus aliquam urna eu malesuada. Integer luctus massa in venenatis dapibus.
                            <br>
                            Curabitur eget luctus eros. Morbi posuere ultrices lorem. Duis eu nisl nulla. Praesent blandit elit non lectus convallis, ac condimentum arcu rutrum. Mauris vel dolor eu massa suscipit ullamcorper vel molestie augue. Nunc pulvinar faucibus lectus, efficitur facilisis ante dignissim vel. Sed feugiat gravida arcu id pharetra. Duis ut orci nulla. Proin facilisis, justo nec accumsan vestibulum, magna magna fermentum libero, ac venenatis tortor nulla eu turpis. Cras a pharetra arcu, sit amet fermentum libero. Cras pretium, quam ac lacinia laoreet, magna tellus iaculis est, vel porta nisi diam vel mauris. Sed cursus aliquam urna eu malesuada. Integer luctus massa in venenatis dapibus.
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#evrakyukle" data-dismiss="modal">Kapat</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Kullanıcı Sözleşmesi End -->
    <!-- Vatandaş Aktivasyon Modalı -->
    <div class="modal fade bd-example-modal-lg" id="vatandasaktivasyon" tabindex="1" role="dialog" aria-labelledby="vatandasaktivasyonLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="vatandasaktivasyonLabel">Vatandaş Aktivasyonu</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group text-center">
                            Belirttiğiniz mail hesabınıza onay maili gönderilmişitir. Mailinizi onaylayarak işlem yapmaya başlayabilirsiniz.
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <!-- Vatandaş Aktivasyon Modalı End -->
    <!-- "Varis Bilgisi" Girişini Yapan Kişi Bilgileri Modalı -->
    <div class="modal fade" id="vatandasprofili" tabindex="-1" role="dialog" aria-labelledby="vatandasprofiliLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="vatandasprofiliLabel">"Varis Bilgisi" Girişini Yapan Kişi Bilgileri </h5>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="citizenname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ad">
                        </div>
                        <div class="form-group">
                            <input type="citizensurname" class="form-control" id="exampleInputPassword1" placeholder="Soyad">
                        </div>
                        <div class="form-group">
                            <input type="citizennumber" class="form-control" id="exampleInputPassword1" placeholder="TC">
                        </div>
                        <div class="form-group">
                            <input type="birthday" class="form-control" id="exampleInputPassword1" placeholder="Doğum Tarihi">
                        </div>
                        <div class="form-group">
                            <input type="mobilenumber" class="form-control" id="exampleInputPassword1" placeholder="Cep Numarası">
                        </div>
                        <div class="form-group">
                            <label class="footnote">* Avukatınızdan gelen kodu giriniz.</label>
                            <input type="promocode" class="form-control" id="exampleInputPassword1" placeholder="Promo Kod">
                        </div>

                        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#varisgirisi" data-dismiss="modal">İlerle</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- "Varis Bilgisi" Girişini Yapan Kişi Bilgileri End -->
    <!-- Vefat Eden Kişi Bilgileri Modalı -->
    <div class="modal fade" id="varisgirisi" tabindex="-1" role="dialog" aria-labelledby="varisgirisiLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="varisgirisiLabel">Vefat Eden Kişi Bilgileri 2</h5>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="other_citizenname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Vefat Eden Kişinin Adı">
                        </div>
                        <div class="form-group">
                            <input type="other_citizensurname" class="form-control" id="exampleInputPassword1" placeholder="Vefat Eden Kişinin Soyadı">
                        </div>
                        <div class="form-group">
                            <input type="other_citizennumber" class="form-control" id="exampleInputPassword1" placeholder="Vefat Eden Kişinin TC">
                        </div>
                        <div class="form-group">
                            <input type="other_birthday" class="form-control" id="exampleInputPassword1" placeholder="Vefat Eden Kişinin Doğum Tarihi">
                        </div>
                        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#varisbilgisi" data-dismiss="modal">Kaydet</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Vefat Eden Kişi Bilgileri End -->
    <!-- Varis Bilgisi Girişi Modalı -->
    <div class="modal fade" id="varisbilgisi" tabindex="-1" role="dialog" aria-labelledby="varisbilgisiLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="varisbilgisiLabel">Varis Bilgisi Girişi 3</h5>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Kendi Adıma Kayıt İse İşaretle</label>
                        </div>
                        <hr>




                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Başkası adına giriş yap
                        </button>

                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <div class="form-group">
                                    <input type="degree" class="form-control" id="exampleInputPassword1" placeholder="Size Olan Yakınlık Derecesi">
                                </div>
                                <div class="form-group">
                                    <input type="other_one_citizenname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adı">
                                </div>
                                <div class="form-group">
                                    <input type="other_one_citizensurname" class="form-control" id="exampleInputPassword1" placeholder="Soyadı">
                                </div>
                                <div class="form-group">
                                    <input type="other_one_citizennumber" class="form-control" id="exampleInputPassword1" placeholder=" TC">
                                </div>
                                <div class="form-group">
                                    <input type="other_one_birthday" class="form-control" id="exampleInputPassword1" placeholder="Doğum Tarihi">
                                </div>


                            </div>
                        </div>







                        <hr>



                        <div class="form-group">
                            <input type="base_number" class="form-control" id="exampleInputPassword1" placeholder="Esas No">
                        </div>
                        <div class="form-group">
                            <input type="decision_number" class="form-control" id="exampleInputPassword1" placeholder="Karar No">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Reddi Miras Evrağı Yükle</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            <label class="footnote">Yüklenen evrak okunaklı olmalıdır.</label>
                        </div>
                        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#citizensuccess" data-dismiss="modal">Kaydet</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Varis Bilgisi Girişi Modalı End -->
    <!-- Vatandaş Başarılı İşlem Modalı -->
    <div class="modal fade" id="citizensuccess" tabindex="-1" role="dialog" aria-labelledby="citizensuccessLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="citizensuccessLabel">Vatandaş Girişi</h5>

                </div>
                <div class="modal-body text-center">
                    <p>Kaydınız alınmıştır, ailenize veya çevrenize ait yeni bir evrak yükleme istiyorsanız yeni kayıt kısmına tıklayınız.</p>
                    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#newcitizen" data-dismiss="modal">Yeni Kayıt</button>
                    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#citizenguncelle" data-dismiss="modal">Evrak Güncelle</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Vatandaş Başarılı İşlem Modalı End -->
    <!-- Evrak Güncelleme Modalı -->
    <div class="modal fade" id="citizenguncelle" tabindex="1" role="dialog" aria-labelledby="citizenguncelleLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="citizenguncelleLabel">Vatandaş Evrak Güncelleme Girişi</h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>-->
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mail Adresiniz">
                        </div>
                        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#citizenguncelleakt" data-dismiss="modal">Gönder</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Evrak Güncelleme Modalı End -->
    <!-- Evrak Güncelleme Aktivasyon Modalı -->
    <div class="modal fade" id="citizenguncelleakt" tabindex="-1" role="dialog" aria-labelledby="citizenguncelleaktLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="citizenguncelleaktLabel">Vatandaş Evrak Güncelleme Aktivasyonu</h5>

                </div>
                <div class="modal-body text-center">
                    <p>
                        Belirttiğiniz mail hesabınıza güncelleme linki gönderilmiştir.
                        Mailinize girip linki tıklayabilirsiniz.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <!-- Evrak Güncelleme Aktivasyon Modalı End -->
    <!-- Diğer Varislerin Kaydı Modalı -->
    <div class="modal fade" id="newcitizen" tabindex="-1" role="dialog" aria-labelledby="newcitizenLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="newcitizenLabel">Diğer Varislerin Kaydı</h5>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="other_citizenname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adı">
                        </div>
                        <div class="form-group">
                            <input type="other_citizensurname" class="form-control" id="exampleInputPassword1" placeholder="Soyadı">
                        </div>
                        <div class="form-group">
                            <input type="other_citizennumber" class="form-control" id="exampleInputPassword1" placeholder="TC">
                        </div>
                        <div class="form-group">
                            <input type="other_birthday" class="form-control" id="exampleInputPassword1" placeholder="Doğum Tarihi">
                        </div>
                        <div class="form-group">
                            <input type="degree" class="form-control" id="exampleInputPassword1" placeholder="Yakınlık Derecesi">
                        </div>
                        <div class="form-group">
                            <input type="base_number" class="form-control" id="exampleInputPassword1" placeholder="Esas No">
                        </div>
                        <div class="form-group">
                            <input type="decision_number" class="form-control" id="exampleInputPassword1" placeholder="Karar No">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Reddi Miras Evrağı Yükle</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            <label class="footnote">Yüklenen evrak okunaklı olmalıdır.</label>
                        </div>
                        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#citizensuccess" data-dismiss="modal">Kaydet</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Diğer Varislerin Kaydı End -->
    <!-- Varis Güncelleme Modalı -->
    <div class="modal fade" id="citizenupdate" tabindex="-1" role="dialog" aria-labelledby="citizenupdateLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title " id="citizenupdateLabel">Güncelleme İşlemi</h5>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="other_citizenname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Adı">
                        </div>
                        <div class="form-group">
                            <input type="other_citizensurname" class="form-control" id="exampleInputPassword1" placeholder="Soyadı">
                        </div>
                        <div class="form-group">
                            <input type="other_citizennumber" class="form-control" id="exampleInputPassword1" placeholder="TC">
                        </div>
                        <div class="form-group">
                            <input type="other_birthday" class="form-control" id="exampleInputPassword1" placeholder="Doğum Tarihi">
                        </div>
                        <div class="form-group">
                            <input type="degree" class="form-control" id="exampleInputPassword1" placeholder="Yakınlık Derecesi">
                        </div>
                        <div class="form-group">
                            <input type="base_number" class="form-control" id="exampleInputPassword1" placeholder="Esas No">
                        </div>
                        <div class="form-group">
                            <input type="decision_number" class="form-control" id="exampleInputPassword1" placeholder="Karar No">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Reddi Miras Evrağı Yükle</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            <label class="footnote">Yüklenen evrak okunaklı olmalıdır.</label>
                        </div>
                        <button type="submit" class="btn btn-success" data-dismiss="modal">Güncelle</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Varis Güncelleme End -->







    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</body>
</html>
