﻿<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv=Content-Type content='text/html; charset=utf-8'>
    <title>Reddi Miras App</title>
    <meta name="DESCRIPTION" content="">
    <meta name="KEYWORDS" content="">
    <meta name="robots" content="index, follow">
    <meta name="AUTHOR" content="Reddi Miras App">
    <meta name="Copyright" content="Copyright (c) 2000-2015 Reddi Miras App">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <meta name="GOOGLEBOT" content="NOODP">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">REDDİ MİRAS SORGULAMA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="account-btn">

                <a class="btn btn-link" href="/MyAccount/Index">Hesabım</a>

                <button type="button" class="btn btn-danger">Çıkış Yap</button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarText">

                <ul class="navbar-nav ">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/WhatisRejedtion">Reddi Miras Nedir <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/SiteGoal">Sitenin Amacı</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Sss">S.S.S.</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- SABİT ALAN -->
    </header>



    @RenderBody()





    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script>
    $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })</script>

</body>
</html>

