﻿<!-- Footer -->
<footer class="page-footer pt-3">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">
                <!--Copyright-->
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="/kvkk" class="btn-floating btn-sm rgba-white-slight mx-1">
                            KVKK Sözleşmesi
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/kullanicisozlesmesi" class="btn-floating btn-sm rgba-white-slight mx-1">
                            Kullanıcı Sözleşmesi
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">
                <!-- Social buttons -->
                <div class="text-center text-md-right codeandmore">
                    <a href="https://codeandmore.com.tr" target="_blank">Designer And Development<br>Code And More</a>
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
</footer>
<!-- Footer -->
