﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_QueryPage.cshtml";
}

<style>

    body {
        background-image: none !important;
    }

    footer {
        bottom: auto;
    }

    .detail-content {
        height: auto;
        min-height: 700px;
    }
</style>
<div class="breadcrumb">
    <div class="container">
        <div class="text-right">
            <h1>Türkoğlu Avukatlık Bürosu</h1>
            <h2>TC SORGULAMA EKRANI</h2>

            <h3>Hesabınızda</h3>
            <p>55 Kontür / 55 Sorgulama Bulunmaktadır.</p>
        </div>
    </div>
</div>

<div class="container detail-content">
    <div class="row">
        @await Component.InvokeAsync("LeftNav")
        <div class="col-lg-8 col-md-12">
            <h1>Tümünü Sorgula</h1>
            <div class="row">
                <div class="col-6">
                    <p class="card-text">Elindeki TC. Listesini Yükle</p>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <div class="col-6">
                    <p class="card-text">Örnek excel dökümanını indirebilirsiniz.</p>
                    <a href="#" class="btn btn-success">İndir</a>
                </div>
            </div>

            <hr>
            <p> Excel listeniz içerisinden 7 adet sorgulanacak TC bulunmuştur. </p>
            <div class="alert alert-success" role="alert">
                4 Adet TC. nin karşılığı aşağıda listelenmiştir.
            </div>


            <div class="responsive-table">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">TC.</th>
                            <th scope="col">Doğum T.</th>
                            <th scope="col">Tel</th>
                            <th scope="col">Esas No</th>
                            <th scope="col">Karar No</th>
                            <th scope="col">Ad / Soyad</th>
                            <th scope="col">Detay</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">34798612886</th>
                            <td>05322001146</td>
                            <td>39204</td>
                            <td>234242</td>
                            <td>Süha Uzun</td>
                            <td>İndir</td>
                            <td><a href="/gecmissorgulardetay">Detay</a></td>
                        </tr>
                        <tr>
                            <th scope="row">34798612886</th>
                            <td>05322001146</td>
                            <td>39204</td>
                            <td>234242</td>
                            <td>Süha Uzun</td>
                            <td>İndir</td>
                            <td><a href="/gecmissorgulardetay">Detay</a></td>
                        </tr>
                        <tr>
                            <th scope="row">34798612886</th>
                            <td>05322001146</td>
                            <td>39204</td>
                            <td>234242</td>
                            <td>Süha Uzun</td>
                            <td>İndir</td>
                            <td><a href="/gecmissorgulardetay">Detay</a></td>
                        </tr>
                        <tr>
                            <th scope="row">34798612886</th>
                            <td>05322001146</td>
                            <td>39204</td>
                            <td>234242</td>
                            <td>Süha Uzun</td>
                            <td>İndir</td>
                            <td><a href="/gecmissorgulardetay">Detay</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="alert alert-danger" role="alert">
                3 adet TC. bulunamamıştır. Bulunamayan TC. lerin listesini görmek için tıkla.
            </div>

            <div class="responsive-table">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">TC.</th>
                            <th scope="col">Durum</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">34798612886</th>
                            <td>Bulunamadı</td>
                        </tr>
                        <tr>
                            <th scope="row">34798612886</th>
                            <td>Bulunamadı</td>
                        </tr>
                        <tr>
                            <th scope="row">34798612886</th>
                            <td>Bulunamadı</td>
                        </tr>
                    </tbody>
                </table>

            </div>


        </div>
    </div>
</div>

<div class="clearfix">...</div>

@await Component.InvokeAsync("Footer")
@await Component.InvokeAsync("Inquiry")
@await Component.InvokeAsync("Citizen")

