/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=dd4bb919dbb49fd7d3f2)
 * Config saved to config.json and https://gist.github.com/dd4bb919dbb49fd7d3f2
 */
/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

body {font-family: 'Open Sans', sans-serif;font-size: 14px; font-weight: 100; background-image: url(../images/bg.jpg); background-repeat: no-repeat; background-size: cover;}

a, a:hover {color: white;}
.btn-link {color:black;}
.btn-link:hover {color:black;}
.btn-danger {background-color: #B54242;}
.btn-success {background-color: #2E7D32; }

nav .btn {font-size: 12px; margin-top: 4px; border-radius: 15px;}
ul.navbar-nav {margin-top: 40px;}

.navbar {padding: 10px 1rem;}
.account-btn {position: absolute;right: 25px;top: 10px;}
.tab-pane.information-video {height: 400px; }
.content {color:white; margin-top:30px;}
.content h1 {font-size:26px;}
.content h2 button{color:black;}
.content-text {max-height: 500px; overflow-y: scroll;  background-color: #ffffffc7; color:black; padding: 30px;}

.card { background-color: #fff0 !important; margin-bottom: 3px;}

.accordion>.card .card-header {background-color: white;}
.card-header:first-child {border-radius: 0;}

.card-body  { margin-top: 7px;background-color: #ffffff9e;color: black; margin-bottom: 5px}

/*content {height: 760px; display: block;}*/
.detail-content .btn-link a {color:Black;}
.detail-content table a {color:Black;}
.detail-content .table-dark a{color:white;}

.codeandmore {font-size: 12px;margin-top: -10px;}
.video-area {margin-top: 80px;}
.nav-pills .nav-link.active {background-color: white; color: black; font-weight: 300; }
.page-footer{background-color:#3F8484; color: white;}

.modal-body .fa-check-circle.succses-circle {    font-size: 100px;color: green;}
.modal-body .fa-check-circle.danger-circle {    font-size: 100px;color: red;}
.paymentmethod .modal-title:after{display:none;}

footer {position: absolute; width: 100%; bottom:0;}

.responsive-table {overflow-y: scroll;}

/*Modal Css*/
.modal-header {border-bottom: 0px; padding: 2rem 1rem 0.3rem 1rem;}
.modal button {width: 100%; display: block; margin-bottom: 10px; font-size: 14px; border-radius: 0;}
.modal-title {margin:0 auto;}
.modal-title:after {content:''; width: 200px; height: 3px; margin:10px auto; display: block; background-color: black; }
.modal-content {border-radius: 0; border:0;}
.modal-body {padding: 0rem 3rem 3rem 3rem; max-height: 500px; overflow-y: scroll;}
.modal-body input {border-radius: 0; font-size: 14px; margin-top: 5px;}
.modal-body label a{color: black; font-size: 14px; }
.modal-body a {color: black; font-size:14px;}
.button-ayrac {margin-bottom: 7px; text-align: center;}
.konturzero-modal {margin-top:10px;}
.konturzero-modal a{color:white;}
/*Detail-Page*/
.breadcrumb {  color:white; border-radius: 0; height: 180px; background-image: url(../images/bg.jpg); background-repeat: no-repeat; background-size: cover;}
.breadcrumb h1 {font-size:21px; margin-top: 15px;}
.breadcrumb h2 {font-size:18px;margin-bottom:20px; }
.breadcrumb h3 {font-size:16px;}




.list-group {    background-color: white;padding: 20px;margin-top: -83px;}

.list-group li a:hover, .list-group li a {color:white; text-decoration: none;}
.list-group li.active a {color:white;}
.list-group-item {border:0; background-color: #4296b5b5 ;margin-bottom: 10px;}
.list-group-item:last-child{border-radius: 0;}
.list-group-item.active {background-color:#4296B5;}
.list-group-item:hover{background-color:#4296B5;}


.detail-content h3 {    font-size: 18px; margin-top: -60px;position: relative;z-index: 10; margin-bottom: 37px;color: white; }
.detail-content h1 {font-size:20px;}
.detail-content h4 {font-size:16px;}
.detail-content h1:after {content:''; width: 200px; height: 3px; margin:10px 0; display: block; background-color: black; }



@media only screen and (max-width: 991px) {
  .account-btn {position: absolute;top: 43px;left: 15px;margin-right: 50px;}
  .navbar-brand {margin-top: -40px;}
  .navbar {padding: 25px 1rem;}
  .page-footer{padding-bottom: 20px;}
  .nav-link {padding: .5rem 10px;  font-size: 12px;}
  .breadcrumb h1 {font-size: 18px;margin-top: 0px;}
  .breadcrumb h2 {font-size: 14px;margin-bottom: 6px;}
  .breadcrumb h3 {font-size: 14px;}
}


@media (min-width: 576px){
.modal-dialog { max-width: 400px;   margin: 1.75rem auto;}
}


